.nav-item a{
   color: white;
   font-weight: 800 !important;
   transition: color 0.3s ease-in;
}
.nav-item a:hover{
   color: red !important;
}
.logo-img{
    width: 80px;
}
.day:hover{
    background-color: rgba(255, 210, 210, 0.826);
}
.day{
    position: relative;
}
.num{
    position: absolute;
    top: 0%;
    right: 0%;
}
.day{
    cursor: pointer;
}
.fleche{
    cursor: pointer;
}
.sam,.dim{
    background-color: #aaa;
    color: #aaa;
    cursor: no-drop !important;
}
.disabled {
  color: #aaa;
  cursor: no-drop;
}